// _grid.scss

.gridContainer {
  columns: 20em;
  column-gap: 1em;
  padding: 10px;
}

.search-title {
  width: 100%;
}

.gridName {
  padding-left: 20px;
  // color: #337ab7;
}

.mainGrid {
  padding-top: 30px;
}

.modal-container {
  position: relative;
}
.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}

.modal-footer {
  background-color: #2980b9;
  border: none;
  color: #ffffff;
}

.modal-title {
  padding-bottom: 20px;
}

.pager {
  margin-right: 20px;
  .next > a {
    margin: 0 3px 0 3px;
  }
}

.pagination > li > a,
.pagination > li > span {
  border-radius: 50%;
}
