.gridContainer {
  columns: 20em;
  column-gap: 1em;
  padding: 10px; }

.search-title {
  width: 100%; }

.gridName {
  padding-left: 20px;
  color: #f2f2f2; }

.mainGrid {
  padding-top: 30px; }

.pagination > .active > a {
  background-color: #000000;
  border-color: #000000; }

.pagination > li > a {
  color: #000000; }

.modal-container {
  position: relative; }

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute; }
