.image{
  // border-radius: 10px;
  overflow: hidden;
  break-inside: avoid;
}

.image-container {
  position: relative;
  padding-bottom: 10px;
  :hover {
    border-style: solid;
    border-width: 1px;
    border-color: blue;
  }

}

.overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  width: 100%;
  transition: 2s ease;
}

.image-container:hover .overlay {
  height: 100%;
}
