// _home.scss


@media only screen and (max-width: 600px) {
    .home-container h1 {
        font-size: 25px;
    }
}

.home-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: url('./images/img1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000;
    height: 100vh;
    // min-width: 100vh;
    h1 {
        color: #fff;
    }
}

.homeForm {
    width: 300px;
}

.has-feedback .form-control {
    padding-right: 34px;
  }

  .has-feedback-left .form-control {
    padding-right: 12px;
    padding-left: 34px;
  }

  .has-feedback-left .form-control-feedback {
    left: 0;
  }
  .form-control-feedback {
    line-height: 34px !important;
  }
  
  
  @media (min-width: 768px) {
    .form-inline .inline-feedback {
      position: relative;
      display: inline-block;
    }
    .form-inline .has-feedback .form-control-feedback {
      top: 0;
    }
  }
  .form-horizontal .has-feedback-left .form-control-feedback {
    left: 15px;
  }

.form-control-feedback{
      color: rgb(204, 204, 204);
  }