// _header.scss

.navbar-default {
  background-color: #444;
  border-color: #444;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar {
  border-radius: 0;
}

.mainNav {
  position: absolute;
  background: transparent;
  border-color: transparent;
}
