.navbar-default {
  background-color: #444;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-family: 'Pacifico', cursive;
  color: #f2f2f2;
}
