.navbar-default {
  background-color: #444; }

.navbar-default .navbar-brand {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-family: 'Pacifico', cursive; }

.gridContainer {
  columns: 20em;
  column-gap: 1em; }

.search-title {
  width: 100%; }

.image {
  border-radius: 10px;
  overflow: hidden;
  break-inside: avoid; }

.site-footer {
  background-color: #444; }

body {
  margin: 0;
  background: #f3f3f3;
  font-family: 'Encode Sans Condensed', sans-serif; }

.main-content:after {
  content: "";
  display: block; }

.site-footer, .main-content:after {
  height: 50px; }
