@import "./components/header/header";
@import "./components/home/home";
@import "./components/grid/grid";
@import "./components/cards/cards";
@import "./components/footer/footer";
@import "./components/modalImage/modalImage";
@import "./components/loader/loader";


html {
  background: url('./images/img1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;
  }

body {
  margin: 0;
  background: #f3f3f3;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.main-content {
  padding: 0;
  background-color:#000000;
}

.main-content:after {
  content: "";
  display: block;
}

.site-footer{
  height: 50px;
}
