// imports
@import "./components/header/header";
@import "./components/home/home";
@import "./components/grid/grid";
@import "./components/cards/cards";
@import "./components/footer/footer";
@import "./components/modalImage/modalImage";
@import "./components/loader/loader";

// fonts
@font-face {
  font-family: 'Futura Std Book';
  src: local('Futura Std Book'), url('./fonts/Futura Std Book.otf') format('opentype');
}



body {
  margin: 0;
  background: #f3f3f3;
  font-family: 'Futura Std Book', sans-serif;
}

.main-content {
  padding: 0;
  background-color:#f3f3f3;
}

.main-content:after {
  content: "";
  display: block;
}

.site-footer{
  height: 50px;
}


