.navbar-default {
  background-color: #444;
  border-color: #444;
  margin-bottom: 0; }

.navbar-default .navbar-brand {
  font-family: "Encode Sans Condensed", sans-serif;
  font-family: "Pacifico", cursive;
  color: #f2f2f2; }

.navbar {
  border-radius: 0; }

.mainNav {
  position: absolute;
  background: transparent;
  border-color: transparent; }

.welcome-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }

.gridContainer {
  columns: 20em;
  column-gap: 1em;
  padding: 10px; }

.search-title {
  width: 100%; }

.gridName {
  padding-left: 20px;
  color: #f2f2f2; }

.mainGrid {
  padding-top: 30px; }

.pagination > .active > a {
  background-color: #000000;
  border-color: #000000; }

.pagination > li > a {
  color: #000000; }

.modal-container {
  position: relative; }

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute; }

.modal-footer {
  background-color: #000000;
  color: #ffffff; }

.modal-title {
  padding-bottom: 20px; }

.image {
  position: relative;
  border-radius: 2px;
  padding-bottom: 10px;
  break-inside: avoid;
  transition: all .5s ease-in-out; }

.image:hover {
  transform: scale(1.1); }

.site-footer {
  background-color: #444;
  color: #f2f2f2; }

footer p {
  padding: 15px 0 0 20px; }

.modal-image {
  min-width: 100%; }

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loaderDiv {
  background-color: black;
  min-height: 700px; }

html {
  background: url("./images/img1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000; }

body {
  margin: 0;
  background: #f3f3f3;
  font-family: 'Encode Sans Condensed', sans-serif; }

.main-content {
  padding: 0;
  background-color: #000000; }

.main-content:after {
  content: "";
  display: block; }

.site-footer {
  height: 50px; }
