.navbar-default {
  background-color: #444;
  border-color: #444;
  margin-bottom: 0; }

.navbar-default .navbar-brand {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-family: 'Pacifico', cursive;
  color: #f2f2f2; }

.navbar {
  border-radius: 0; }

.home-container {
  background-size: 100%;
  min-height: 500px;
  min-width: 80%; }

.gridContainer {
  columns: 20em;
  column-gap: 1em; }

.search-title {
  width: 100%; }

.image {
  border-radius: 10px;
  overflow: hidden;
  break-inside: avoid; }

.site-footer {
  background-color: #444; }

body {
  margin: 0;
  background: #f3f3f3;
  font-family: 'Encode Sans Condensed', sans-serif; }

.main-content {
  padding: 0; }

.main-content:after {
  content: "";
  display: block; }

.site-footer, .main-content:after {
  height: 50px; }
