.navbar-default {
  background-color: #444;
  border-color: #444;
  margin-bottom: 0; }

.navbar-default .navbar-brand {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-family: 'Pacifico', cursive;
  color: #f2f2f2; }

.navbar {
  border-radius: 0; }

.mainNav {
  position: absolute;
  background: transparent;
  border-color: transparent; }

.home-container {
  background: url("./images/img1.jpg");
  background-size: 100%;
  min-height: 700px;
  min-width: 80%; }

.gridContainer {
  columns: 20em;
  column-gap: 1em;
  padding: 10px; }

.search-title {
  width: 100%; }

.gridName {
  padding-left: 20px;
  color: #f2f2f2; }

.mainGrid {
  padding-top: 30px; }

.image {
  overflow: hidden;
  break-inside: avoid; }

.image-container {
  position: relative;
  padding-bottom: 10px; }

.overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  width: 100%;
  transition: 2s ease; }

.image-container:hover .overlay {
  height: 100%; }

.site-footer {
  background-color: #444;
  color: #f2f2f2; }

footer p {
  padding: 15px 0 0 20px; }

body {
  margin: 0;
  background: #f3f3f3;
  font-family: 'Encode Sans Condensed', sans-serif; }

.main-content {
  padding: 0;
  background-color: #000000; }

.main-content:after {
  content: "";
  display: block; }

.site-footer {
  height: 50px; }
