// imports
@import "./components/header/header";
@import "./components/home/home";
@import "./components/grid/grid";
@import "./components/cards/cards";
@import "./components/footer/footer";
@import "./components/modalImage/modalImage";
@import "./components/loader/loader";
@import "./components/inputForm/inputForm";
@import "./components/animatedButton/animatedButton";

// fonts
@font-face {
  font-family: "Futura Std Book";
  src: local("Futura Std Book"),
    url("./fonts/Futura Std Book.otf") format("opentype");
}

body {
  margin: 0;
  background-color: #2980b9;
  color: #ecf0f1;
  font-family: "Futura Std Book", sans-serif;
}

.main-content {
  padding: 0;
}

.main-content:after {
  content: "";
  display: block;
}

.site-footer {
  height: 50px;
}
