.navbar-default {
  background-color: #444;
  border-color: #444;
  margin-bottom: 0; }

.navbar-default .navbar-brand {
  color: #040404; }

.navbar {
  border-radius: 0; }

.mainNav {
  position: absolute;
  background: transparent;
  border-color: transparent; }

.frontImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./images/img1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;
  height: 100vh;
  animation: slide 10s infinite; }
  .frontImageContainer h1 {
    color: #fff;
    margin-top: 50px;
    font-size: 60px;
    letter-spacing: 15px; }
  .frontImageContainer p {
    color: #fff;
    font-size: 16px; }

@keyframes slide {
  0% {
    background-image: url("./images/img1.jpg"); }
  33% {
    background-image: url("./images/img2.jpg"); }
  67% {
    background-image: url("./images/img3.jpg"); } }

.gridContainer {
  columns: 20em;
  column-gap: 1em;
  padding: 10px; }

.search-title {
  width: 100%; }

.gridName {
  padding-left: 20px;
  color: #337ab7; }

.mainGrid {
  padding-top: 30px; }

.modal-container {
  position: relative; }

.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute; }

.modal-footer {
  background-color: #000000;
  color: #ffffff; }

.modal-title {
  padding-bottom: 20px; }

.pager {
  margin-right: 20px; }
  .pager .next > a {
    margin: 0 3px 0 3px; }

.pagination > li > a,
.pagination > li > span {
  border-radius: 50%; }

.image {
  position: relative;
  border-radius: 2px;
  padding-bottom: 10px;
  break-inside: avoid;
  transition: all .5s ease-in-out; }

.image:hover {
  transform: scale(1.1); }

.site-footer {
  background-color: #444;
  color: #f2f2f2; }

footer p {
  padding: 15px 0 0 20px; }

.modal-image {
  min-width: 100%; }

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loaderDiv {
  background-color: black;
  min-height: 700px; }

.homeForm {
  width: 250px; }

.has-feedback .form-control {
  padding-right: 34px; }

.has-feedback-left .form-control {
  padding-right: 12px;
  padding-left: 34px; }

.has-feedback-left .form-control-feedback {
  left: 0; }

.form-control-feedback {
  line-height: 34px !important; }

@media (min-width: 768px) {
  .form-inline .inline-feedback {
    position: relative;
    display: inline-block; }
  .form-inline .has-feedback .form-control-feedback {
    top: 0; } }

.form-horizontal .has-feedback-left .form-control-feedback {
  left: 15px; }

.form-control-feedback {
  color: #cccccc; }

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: none; }

.homeMiddle {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 50px; }

.animatedInput {
  width: 60px;
  height: 60px;
  background: none;
  border-radius: 50%;
  border: 4px solid #fff;
  box-sizing: border-box;
  outline: none;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition-delay: 0.4s;
  color: white;
  font-size: 20px; }

.active {
  width: 360px;
  border-radius: 0;
  padding: 0 40px 0 15px; }

.inputBtn {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  box-sizing: border-box;
  background: none;
  border: 2px;
  outline: none;
  cursor: pointer; }

.inputBtn::before {
  content: "";
  width: 4px;
  height: 25px;
  background: white;
  position: absolute;
  transform: rotate(-45deg);
  bottom: -16px;
  right: -6px;
  transition: 0.3s; }

.close::before, .close::after {
  content: "";
  width: 4px;
  height: 34px;
  background: white;
  position: absolute;
  transform: rotate(-45deg);
  bottom: 12px;
  right: 28px;
  transition: 0.3s; }

.close::before {
  transform: rotate(-45deg); }

.close::after {
  transform: rotate(45deg); }

@font-face {
  font-family: "Futura Std Book";
  src: local("Futura Std Book"), url("./fonts/Futura Std Book.otf") format("opentype"); }

body {
  margin: 0;
  background: #f3f3f3;
  font-family: "Futura Std Book", sans-serif; }

.main-content {
  padding: 0;
  background-color: #f3f3f3; }

.main-content:after {
  content: "";
  display: block; }

.site-footer {
  height: 50px; }
