@import "./components/header/header.scss";
@import "./components/home/home.scss";
@import "./components/grid/grid.scss";
@import "./components/cards/cards.scss";
@import "./components/footer/footer.scss";



body {
  margin: 0;
  background: #f3f3f3;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.main-content {
  padding: 0;
}

.main-content:after {
  content: "";
  display: block;
}

.site-footer{
  height: 50px;
}
