@import "./components/header/header";
@import "./components/home/home";
@import "./components/grid/grid";
@import "./components/cards/cards";
@import "./components/footer/footer";
@import "./components/modalImage/modalImage";
@import "./components/loader/loader";



body {
  margin: 0;
  background: #f3f3f3;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.main-content {
  padding: 0;
  background-color:#000000;
}

.main-content:after {
  content: "";
  display: block;
}

.site-footer{
  height: 50px;
}


